.parallax-container {
    height: 500px;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
}
#download-button:hover{
    color:white;
    box-shadow: 0px 0px 20px orange;
}
.nav-wrapper li:hover{
    transition: 300ms all;
    background: white;

}
.nav-wrapper a:hover{
    color:orange;
}
#logo-container:hover{
    color:white;
}
#download-button{
    transition: 300ms all;
    margin-top: 25px;
    display: inline-block;

}
p{
    letter-spacing: 0px;
    max-width: 275px;
    text-align: center;
    margin: 0 auto;
}
.donators{
    /*display: block;*/

}

.rck-sign{
    position: fixed;
    top: 50%;
    right: 0px;
    height: auto;
    width: 100px;
    background: orange;
    transform: translateY(-50%);
    text-align: center;
    padding: 5px 0;
    border:1px solid white;
    transition: 500ms all;
}
.rck-sign:hover{
    background: white;
    border:1px solid orange;

}
.rck-sign:hover span{
    color: orange;
}
.rck-sign:hover i{
    color: orange;
}

.rck-sign span{
    font-size:14px;
    font-weight:normal;
    color:white;
    transition: 500ms all;

}
.rck-sign i{
    transition: 500ms all;
    color: white;
    font-size:28px;
    display: inline-block;
}
.info-stick{
    top: calc(50% - 80px);
}
form{
    max-width: 600px;
    margin:0 auto;
}
.picker__today, .picker__clear,.picker__close,.picker__day.picker__day--today{
    color:orange !important;
}
.picker__date-display{
    background-color:orange !important;
}

input:not([type]):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=url]:not(.browser-default):focus:not([readonly]),input[type=time]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]),input[type=datetime]:not(.browser-default):focus:not([readonly]),input[type=datetime-local]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),input[type=search]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid orange!important;
    -webkit-box-shadow: 0 1px 0 0 orange!important;
    box-shadow: 0 1px 0 0 orange!important;
}
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown{
    border-bottom: 1px solid orange!important;
    -webkit-box-shadow: 0 1px 0 0 orange!important;
    box-shadow: 0 1px 0 0 orange!important;
}
input:not([type]):focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly])+label,input[type=password]:not(.browser-default):focus:not([readonly])+label,input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=url]:not(.browser-default):focus:not([readonly])+label,input[type=time]:not(.browser-default):focus:not([readonly])+label,input[type=date]:not(.browser-default):focus:not([readonly])+label,input[type=datetime]:not(.browser-default):focus:not([readonly])+label,input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,input[type=tel]:not(.browser-default):focus:not([readonly])+label,input[type=number]:not(.browser-default):focus:not([readonly])+label,input[type=search]:not(.browser-default):focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label {
    color: orange!important;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: orange!important;
}

.select-wrapper span.caret{
    font-size:0px!important;
}
button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus{
    background-color: rgba(198, 40, 40, 0.31)!important;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
    background-color: orange!important;
    color: white!important;

}
.donorNumber {
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0px 5px;
}
.mobile{
    display: none;
}
.mobile li i{
    font-size:41px;
}
.mobile li span{
    font-size:20px;
}


.card-wrapper{
    max-width: 600px;
    margin:0 auto;
}
.inverse{
    color: orange !important;
    cursor: pointer;
    background: white!important;
}
.inverse:hover{
    background: orange !important;
    cursor: pointer;
    color: white!important;
    border-color: white;
}
.info-button{
    font-size: 10px;
    padding: 15px 15px;
    height: auto;
    line-height: 100%;
    display: inline-block;
    margin-top: 15px;
    color:white;
}
.info-button:hover{
    text-underline: none;
    color:white;
}
.info-block{
    text-align: center;
}

.quiz-wrapper{
    padding: 50px 20px!important;
    background: #ffa726;
    box-shadow: 0px 0px 6px #968a8a;

}
.quiz-card .card-content{
    text-align: center;
}
.quiz-card  .card-color{
    background-color: white;
    padding:30px!important;
}

.quiz-card .card-title{
    font-weight:bold;
}
.orange-color{
    color:#ffa726;
}
.orange-btn{
    background:#ffa726;
    color:white;
    border:1px solid #ffa726;
    transition: 0.5s all;
}
.orange-btn:hover{
    color:#ffa726;
    border-color:white;
    background: white;
}
.quiz-card .card-action{
    text-align: center;
}

.question-title{
    padding: 25px 0px;
    font-weight: 600;
    text-transform: uppercase;
    background: #ff9800;
    color:white;
}
.card-padding{
    text-align: center;
    padding: 50px 20px;
}
.card-padding .card-tile{
    font-size: 24px;
    font-weight: bold;
}
.description{
    margin: 0;
    color: inherit;
    display: inline-block;
    text-align: center;
    padding-top: 13px;
    width: 100%;
    font-size: 16px;
}
@media screen and (max-width: 990px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .button-collapse{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #logo-container,.brand-logo{
        font-size: 19px!important;
        float: left!important;
        position: relative!important;
        left: 0!important;
        transform: translateX(0)!important;
    }
    form{
        padding: 15px;
    }
    .rck-sign{
        position: absolute;
        top:45%;
    }
    .info-stick{
        top: calc(45% - 80px);

    }
}

