<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header">
<body>
<nav th:replace="navbar :: common_navbar"></nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h3 th:text="'Answer ' + ${question +1}" class=" center green-text text-green-darken-4"></h3>
        <br/>
    </div>
    <div class="container">
        <h4 th:text="${quiz.questions[question].name}" class=" center green-text text-green-darken-4"></h4>
        <br/>
    </div>
    <div class="container">
        <h5 th:text="${good.name}" class=" center green-text text-green-darken-4"></h5>
        <br/>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row center">
            <a th:href="@{~/quizzes} + '/' + ${quiz.id} + '/' + ${question + 1}" id="download-button"
               class="btn-large waves-effect waves-light green darken-3" style="margin-top: 10px">Next Question</a>
        </div>
    </div>


    <br/><br/>
    <div class="section">
        <div class="row center">
            <div th:each="user : ${users}">
                <p th:text="${user.name}"></p>
                <p th:text="${user.points}"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
