<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header">
<body>
<nav th:replace="navbar :: common_navbar"></nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h3 class=" center orange-text text-orange-lighten-2">Wait for users to log in</h3>
        <br/>
    </div>
</div>
<div class="container">
    <div class="section" style="text-align: center;">
        <br/>
        <a th:href="@{~/quizzes/} + ${quiz.id} + '/0'" id="download-button"
           class="btn-large waves-effect waves-light orange lighten-1" style="font-weight:bold;margin-top: 15px">Go to first question</a>
    </div>
</div>
<br/>
</div>

</body>
</html>
