<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header">
<body>
<nav th:replace="navbar :: common_navbar"></nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h3 th:text="'Quiz `' + ${quiz.name} + 'has just ended'" class=" center orange-text text-orange-lighten-2"></h3>
        <br/>
    </div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6">
                <div class="icon-block">

                    <p class="center light-blue-text"><i class="material-icons medium orange-text text-lighten-1">view_list</i>
                    </p>

                    <h5 class="center">1st Place</h5>

                    <p th:text="${users[0].name}" class="light"></p>
                    <p th:text="${users[0].points}" class="light"></p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="icon-block">

                    <p class="center light-blue-text"><i
                            class="material-icons medium orange-text text-lighten-1">view_list</i></p>
                    <h5 class="center">2nd Place</h5>

                    <p th:text="${users[1].name}" class="light"></p>
                    <p th:text="${users[1].points}" class="light"></p>
                </div>
            </div>

        </div>

    </div>
    <div class="section">
        <br/>
        <a th:href="@{~/quizzes}" id="download-button" class="btn-large waves-effect waves-light orange lighten-1"
           style="margin-top: 10px">Back to quiz list</a>
    </div>
</div>
<br/>
</div>

</body>
</html>
