<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header">
<body>
<nav th:replace="navbar :: common_navbar"></nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h3 class=" center orange-text text-orange-lighten-2">Move Your Brain Move Yourself</h3>
        <br/>
        <div class="row center">
            <a th:href="@{~/quizzes}" class="btn btn-floating btn-large pulse orange lighten-1"
               style="width: 200px; height: 200px"><i class="large material-icons "
                                                      style="font-size: 200px; line-height: 188px;">child_care</i>
            </a>
            <br/>
            <a/>
            <a th:href="@{~/quizzes}" id="download-button" class="btn-large waves-effect waves-light orange lighten-1"
               style="margin-top: 10px">Show quizes</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">

                    <p class="center light-blue-text"><i
                            class="material-icons medium orange-text text-lighten-1">view_list</i></p>
                    <h5 class="center">Choose Quiz!!</h5>

                    <p class="light">Fun, movement and learning at once</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <p class="center light-blue-text"><i class="material-icons medium orange-text text-lighten-1">opacity</i>
                    </p>
                    <h5 class="center">Find out Children's Knowledge</h5>

                    <p class="light">Keep record of question with low answer score, and focus on topic problem </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <p class="center light-blue-text"><i class="material-icons medium orange-text text-lighten-1">repeat_one</i>
                    </p>
                    <h5 class="center">Get Quizzes social database</h5>

                    <p class="light">Easily add your quiz and import from other teachers! </p>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="rck-sign info-stick">
        <a th:href="@{~/}"> <i class="material-icons">info</i> <br/><span>Create new QUIZ</span></a>
    </div>
</div>

</body>
</html>
