<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>

<nav th:fragment="common_navbar" class="orange lighten-1 lighten-1" role="navigation">
    <div class="nav-wrapper container orange lighten-1">
        <a id="logo-container" th:href="@{~/}" class="brand-logo"><i class="large material-icons">child_care</i>AJATTELA</a>
        <ul class="right desktop">
            <!--<li><a class="donorNumber" href="#" th:text="'Jest już znami ' + ${donorNumber + 114} + ' graczy!'"></a></li>-->
        </ul>
        <ul class="right mobile">
            <li><i class="material-icons">group</i></li>
            <!--<li><span th:text="${donorNumber + 114}"></span></li>-->

        </ul>
        <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </div>
</nav>

</body>
</html>
