<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header">
<body>
<nav th:replace="navbar :: common_navbar"></nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h3 th:text="'Question ' + ${question +1}" class=" center orange-text text-orange-lighten-2"></h3>
        <br/>
    </div>
    <div class="container">
        <div th:if="${quiz.type == 'learning'}" class="parallax-container">
            <div class="parallax">
                <img class="responsive-img center-align" th:src="${quiz.questions[question].url}">
            </div>
        </div>
        <h4 th:text="${quiz.questions[question].name}" class=" center question-title"></h4>
        <br/>
    </div>
</div>
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="card light-blue lighten-3 card-padding">
                    <div class="card-content white-text">
                        <span class="card-title" th:text="${quiz.questions[question].answers[0].name}">Card Title</span>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card light-green lighten-3 card-padding">
                    <div class="card-content white-text">
                        <span class="card-title" th:text="${quiz.questions[question].answers[1].name}">Card Title</span>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card red lighten-3 card-padding">
                    <div class="card-content white-text ">
                        <span class="card-title" th:text="${quiz.questions[question].answers[2].name}">Card Title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row center">
    <a th:href="@{~/quizzes} + '/' + ${quiz.id} + '/' + ${question} + '/answer'" id="download-button"
       class="btn-large waves-effect waves-light orange lighten-1" style="margin-top: 10px">Get Answer</a>
</div>
</div>
<br/><br/>
</div>
<script th:src="@{~/parallax.js}"></script>
</body>
</html>
