<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header">
<body>
<nav th:replace="navbar :: common_navbar"></nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h3 class=" center orange-text text-orange-lighten-2">Choose Quiz</h3>
        <br/>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div th:each="quiz : ${quizzes}" class="col s12 m6 quiz-card">
                <div class="quiz-wrapper">
                    <div class="card card-color">
                        <div class="card-content orange-color">
                            <span class="card-title" th:text="${quiz.name}">Quizz</span>
                            <p class="description" th:text="${quiz.type}"></p>
                        </div>
                        <div class="card-action">
                            <a th:href="@{~/quizzes/} + ${quiz.id}">
                                <button class="btn-large waves-effect waves-light orange lighten-1">
                                    Choose
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rck-sign info-stick">
                <a th:href="@{~/info}"> <i class="material-icons">info</i> <br/><span>Create new test</span></a>
            </div>
        </div>
        <br/>
    </div>
    <br/>
</div>

</body>
</html>
